.cfooter {
    display: flex;
    justify-content: flex-end;

    background-color: white;
    color:#b7202e ;
    padding-right: 10px;
    
  }
  
  .cfooter-copyright {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    margin-top:5px;
    font-weight: bold;
  }
  
  @media screen and (min-width: 699px) {
    .cfooter {
      padding-right: 40px;
    }
    
  }