.info {
    text-align: left;
    padding: 20px;
    background-color:white;
background-image: linear-gradient(315deg, #b7202e   40%,   #b3aeae 80%);
    color: var(--white);
    
  }
  
  .info-h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size:1.5rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
  }
  
  .info-details-container {
    margin: 40px 0;
    
  }
  
  .info-detail {
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
  }
  
  .info-icons-container {
    display: flex;
    width: 100%;
  }
  
  .info-icon {
    /* font-size: 3rem; */
    margin-right: 20px;
    cursor: pointer;
    color:#fff;
  }
  .info-icon:hover{
      color:#fff;
  }
  
  @media screen and (min-width: 699px) {
    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 40px;
    }
  
    .info-detail {
      line-height: 2;
    }
  }