:root{
    --primary:#fff;
}

.btn{

    padding:8px 20px;
    border-radius:2px;
    outline: none;
    border: none;
    cursor: pointer;
    color:#b7202e;
}

.btn--primary{
    background-color: var(--primary);
    color:#b7202e;
    border:1px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color:var(--primary);
    padding:8px 20px;
    border:1px solid var(--primary);
    transition:all 0.3s ease-out;
}
.btn--medium{
    padding:8px 20px;
    font-size:20px;
}
.btn--large{
    padding:12px 26px;
    font-size:20px;
}
.btn--large:hover,.btn--medium:hover{
    background-color: var(--primary);
    color:#b7202e;
    transition:all 0.3s ease-out;
}