:root{
    --primary:#fff;
}

.footer-con {
    padding: 4rem;
    background-color: #fff;
    color:#b7202e ; 
    display: flex;  
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap:wrap;
}
.ftxt{
    margin-bottom:10px;
    margin-left:10px;
    font-weight: bold ;
    font-size: 1.17em !important;
}
.ilist{
    display:flex !important;
    justify-content: start;
    align-items:center;
    list-style:none !important;
}
.ili{
    color:var(--primary);
    padding:8px;
    margin:10px;
    text-decoration: none;
}

.flinks,.flinks:hover{
    color:var(--primary);
}
.ili:hover{
    transform: scale(1.1);
}
.ftxt2{
    margin-bottom:10px;
    margin-right:20px;
    font-size: 1.5em ;
    font-weight: bold;
    padding: 4px;
}
.faddress{
    margin-bottom: 7px;
}
.ftitle{
    font-weight: bold;
}