


<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Title -->
    <title>
	Somaiya Vidyavihar
</title>

    <!-- Meta Tagst -->
    <meta charset="utf-8" /><meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" /><meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/vnd.Microsoft.icon" href="/assets/img/favicon.png" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="bootstrap4.min.css" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="font-awesome.min.css" />
    <link rel="stylesheet" href="lib.css" />

    <!-- Cookie Consent CSS -->
    <link rel="stylesheet" href="new.css" />

    <!-- CSS Global Icons -->

    <!-- CSS -->
    <link rel="stylesheet" href="custom.css" />
    <link rel="stylesheet" href="hello.css" />
    <link rel="stylesheet" href="others.css" />
   <!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-K38PM8G');</script>
<!-- End Google Tag Manager -->
    </head>
<body>
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K38PM8G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="eupopup eupopup-top"></div>
    <div class="container-fluid full_container">
   
        
    <style type="text/css">
        body{
            overflow: hidden;
        }
    </style>
    <div class="loginheader login header_pctch">
        <div class="col-lg-5 col-sm-8 col-md-7 col-xs-12 fl txt-left border">
            <span class="vidyvihar"><a href="#">
                <img src="/assets/img/somaiya-vidyavihar-brand.svg" class="logo"></a></span>
            <span class="split">&nbsp;</span>
            <span class="vidyvihar"><a href="#">
                <img src='/assets/img/mainlogo.svg' class="logo" /></a></span>

        </div>
        <div class="col-lg-7 col-sm-4 col-md-5 col-xs-5 blue_bg fl" style="padding-left: 30px;">
             
            <div class="right_logo">
                <img src='/assets/img/Trust.svg' class="" />
            </div>
        </div>
    </div>
    <div class="loginform" >
        <div id="myModal" class="forgotpopup modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <img src='/assets/img/forgot-password.svg' class="img-responsive" />
                        <h3>Forgot your Password ?</h3>
                        <p>Please enter your registered email address to receive your password. </p>
                        <div id="frmForgotPassword">
                            <div id="messageHolderForgotPassword"></div>
                            <div class="form-row">
                                <div class="form-group col-md-12 required">
                                    <input type="text" class="form-control" id="txtPasswordEmail" name="txtPasswordEmail" placeholder="Enter Email Id" required>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="form-group mt20">
                                <button type="button" class="loginbtn mr20" id="btnForgotPassword">Send Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- forgot password-->
        <!--successfully register msg popup successregister-->
        <div id="successregister" class="sucesspopup modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="popcenter">
                            <img src='/assets/img/forgot-password.svg' class="img-responsive" />
                        </div>
                        <p class="head">Thank you for registering ! A verification link has been sent to your email account.</p>
                        <p class="p2">Please click on the link 'Verify your email' that just been sent to your email and continue the registration process. </p>
                        <div>
                            <h6>You haven’t received your verification email? Let us give you a hand!</h6>
                            <p class="fstep">Follow these simple steps:</p>
                            <ul>
                                <li>Is the email you used “email@email.com” correct? Are you checking the right email account?</li>
                                <li>Check your email spam folder for your confirmation email. It can lose its way to your inbox and wind up trapped in there!</li>
                                <li>Keep in mind, it can take a while, even a few hours for you to receive your email confirmation. We ask you to be patient for at least two hours</li>
                                <li>You can try to fill in the form once again, remember to make sure your email address is correct.</li>
                                <li>After following these steps, if you still have not received a confirmation email or if the confirmation link that you received is not working you can let us know by sending us an email at techsupport@somaiya.edu We’ll be happy to help you out.</li>
                            </ul>
                            <div class="form" style="
   text-align: center;
   margin-top: 25px;
   margin-bottom: 25px;
">
   
   <a href="#" data-dismiss="modal" class="loginbtn">Ok</a></div>
                            <!-- <div class="form-group mt20">
                                <button type="button" class="loginbtn mr20" id="btnForgotPassword">Submit</button><span class="or">  OR</span>
                                <span class="forget">
                                    <a href="#" id="btnLoginFromPassword">Resend</a>
                                </span>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Successfully register popup end-->
        <!-- Modal Popup for PGDM Executive -->
    </div>
    <section class="new-tab loginform">
        <div class="wraps backpatch_left">
            <div class="wraps_backpatch_left">
                <div class="container">
                    <ul id="tabs" class="nav nav-tabs" role="tablist">
                        <li class="nav-item border  one">
                            <a id="tab-B" href="#pane-B" class="nav-link active" data-toggle="tab" role="tab">Register</a>
                        </li>
                        <li class="nav-item border four">
                            <a id="tab-A" href="#pane-A" class="nav-link " data-toggle="tab" role="tab">Login</a>
                        </li>
                       
                    </ul>
                    <div id="content" class="tab-content" role="tablist">
<div id="pane-B" class="card tab-pane fade  active show" role="tabpanel" aria-labelledby="tab-B">
                            <div class="card-header" role="tab" id="heading-B">
                                <h5 class="mb-0">
                                    <a id="regi_acco" class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false" aria-controls="collapse-B">Register
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-B">
                                <div class="card-body">
                                    <div class="tab_wrap">
                                         <h4 class="title">Not registered yet? Register Now and  <a style = "color: #006699 !important;text-decoration: underline;cursor: pointer;"  id="aLogin" onclick="$('#tab-A').trigger('click')">LOGIN</a> to stay updated with latest admission news.
It’s quick, easy and necessary. </h4>
                                        <div class="form">
                                            <div id="divregistration" class="needs-validation row">
                                                <div id="messageHolderRegistration" class="col-lg-12"></div>
                                                
                                                <div class="form-row">
                                                    <div class="form-group mobp0 required">
                                                        <label for="txtFirstName">First Name</label>
                                                        <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" maxlength="20" required placeholder="Enter First name">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group mobp0 required">
                                                        <label for="txtLastName">Last Name</label>
                                                        <input type="text" class="form-control" id="txtLastName" name="txtLastName" maxlength="20" required placeholder="Enter Last name">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group mobp0 required">
                                                        <label for="txtMobile">Mobile No.</label>
                                                        <input type="text" class="form-control" id="txtMobile" name="txtMobile" placeholder="Enter 10 digit mob. no. " maxlength="10" placeholder="Enter 10 digit mob. no. ">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group mobp0 required">
                                                        <label for="txtEmail">Email ID</label>
                                                        <input type="email" class="form-control" id="txtEmail" name="txtEmail" required placeholder="Enter valid email id">
                                                        <!-- <span class="verify">
                                                            <a href="javascript:void(0);" class="initOtp" onclick="">Verify</a>
                                                            </span> -->
                                                    </div>
                                                </div>
                                                <div class="form-row ">
                                                    <div class="form-group mobp0 required">
                                                        <label for="txtPassword">Password</label>
                                                        <input type="password" class="form-control" id="txtPassword" name="txtPassword" maxlength="15" required placeholder="Enter your password">
                                                    </div>
                                                </div>
                                                <div class="form-row customtool" >
                                                    <div class="form-group mobp0 required">
                                                        <label for="txtConfirmPassword">Confirm Password</label>
                                                        <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" maxlength="15" required placeholder="Enter your confirm password">
                                                        <a href="#" style="display: none;">
                                                        <img style="display:none;" src='/assets/img/information.svg' class="img-responsive"
                                                            data-toggle="tooltip" data-placement="right" title="" data-original-title="Length of the Password must be in between 8-15  characters.Password must Contain English uppercase characters (A through Z) and English lowercase characters (a through z) Base 10 digits (0 through 9),
                                                            Non-alphabetic characters (for example, !, $, #, %)" /></a>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="mt10 col-lg-12 btn-grup">
                                                    <button type="button" id="btnSave" class="loginbtn">Register and Continue</button>
                                                </div>
                                                <!-- <div class="registerlink mt20 mb50 col-lg-12">
                                                    <p>
                                                        If Already Registered ?
                                                        <button type="button" id="grad" onclick="existingUser();">Login</button>
                                                    </p>
                                                    </div> -->
                                            </div>
                                        </div>
                                        <div class="btn_wrap">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pane-A" class="card tab-pane fade login-tab" role="tabpanel" aria-labelledby="tab-A">
                            <div class="card-header" role="tab" id="heading-A">
                                <h5 class="mb-0">
                                    <!-- Note: `data-parent` removed from here -->
                                    <a id="log_acco" class="collapsed" data-toggle="collapse" href="#collapse-A" aria-expanded="true" aria-controls="collapse-A">Login
                                    </a>
                                </h5>
                            </div>
                            <!-- Note: New place of `data-parent` -->
                            <div id="collapse-A" class="collapse " data-parent="#content" role="tabpanel" aria-labelledby="heading-A">
                                <div class="card-body">
                                    <div class="tab_wrap login-tab">
                                        <h4 class="title">
                                            <span id="BodyContentPlaceHolder_lblMessage">Welcome Back !
                                                To keep connected with us please login with your credentials.</span>
                                        </h4>
                                        <div class="form">
                                            <div id="divlogin" class="row">
                                                <div id="messageHolder" class="col-lg-12"></div>
                                                <div class="row">
                                                    <div class="col-md-12 cust_left">
                                                        <div class="form-row">
                                                            <div class="form-group  mobp0 required">
                                                                <label for="txtloginemail">Email Id</label>
                                                                <input type="text" class="form-control" id="txtLoginEmail" name="txtLoginEmail" placeholder="Enter Email Id" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 cust_left">
                                                        <div class="form-row">
                                                            <div class="form-group  mobp0 required">
                                                                <label for="txtloginemail">Password</label>
                                                                <input type="password" class="form-control" id="txtLoginPassword" name="txtLoginPassword" placeholder="Enter your password"  required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="form-group col-lg-12 cust-left btn-grup">
                                                    <button type="button" class="loginbtn" id="btnLogin">Login & Continue</button>
                                                    
                                                </div>
                                                <!-- <div class="form-group col-lg-12 bottom_link cust-left desk_view">
If not yet Registered?   <a class="" id="regi_btn" onclick="$('#tab-B').trigger('click')">Register Now</a></div> -->

                                                <div class="form-group col-lg-12 bottom_link cust-left desk_view other">
                                                <p> <span>Need Help ?</span> <span class="forget">
                                                    <button data-toggle="modal" data-target="#myModal" id="btnRedirectForgot">Forgot Password</button>
                                                    </span><span></p> <p class="reg_btns">/ If not yet Registered?</span> <a id="regi_btn" class="" onclick="$('#tab-B').trigger('click')">Register Now</a></p> </div>

                                                    <div class="form-group col-lg-12 bottom_link cust-left tab_view other"> <p> <span>Need Help ?</span> <span class="forget">
                                                    <button data-toggle="modal" data-target="#myModal" id="btnRedirectForgot">Forgot Password</button>
                                                    </span><span></p> <p  class="reg_btns">If not yet Registered?</span> <a id="regi_btn" class="" onclick="$('#tab-B').trigger('click')">Register Now</a></p></div>

                                               
                                                <!-- <div class="form-group col-lg-12 bottom_link cust-left tab_view">If not yet Registered?     <a class="" data-toggle="collapse" href="#collapse-B" aria-expanded="true" aria-controls="collapse-B">Register Now
                                                    </a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                            <div class="card-header" role="tab" id="heading-C">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false" aria-controls="collapse-C">Apply for another Programme with previous login (2020) 
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-C">
                                <div class="card-body">
                                    <div class="tab_wrap login-tab">
                                        <h4 class="title">Best of luck ! For your next application journey
                                        </h4>
                                        <div class="form">
                                            <div id="divloginAnother" class="row">
                                                <div id="messageHolderAnother" class="col-lg-12"></div>
                                                <div class="row">
                                                    <div class="col-md-12 cust_left">
                                                        <div class="form-row">
                                                            <div class="form-group  mobp0 required">
                                                                <label for="txtLoginEmailAnother">Email Id</label>
                                                                <input type="text" class="form-control" id="txtLoginEmailAnother" name="txtLoginEmailAnother" placeholder="Enter Email Id" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 cust_left">
                                                        <div class="form-row">
                                                            <div class="form-group  mobp0 required">
                                                                <label for="txtLoginPasswordAnother">Password</label>
                                                                <input type="password" class="form-control" id="txtLoginPasswordAnother" name="txtLoginPasswordAnother" placeholder="Enter your password" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="form-group col-lg-12">
                                                    <button type="button" class="loginbtn" id="btnLoginAnother">Login</button>
                                                    <span class="forget">
                                                    <button data-toggle="modal" data-target="#myModal" id="btnRedirectForgotAnother">Forgot Password?</button>
                                                    </span>
                                                </div>
                                                <!--  <div class="registerlink mb50 col-lg-12">
                                                    <p>
                                                        If not Registered ?
                                                        <button type="button" id="grad1" onclick="RegisterNow();">Register Now</button>
                                                    </p>
                                                    </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
                            <div class="card-header" role="tab" id="heading-D">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse-D" aria-expanded="false" aria-controls="collapse-D">Login to check application status
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse-D" class="collapse" role="tabpanel" data-parent="#content" aria-labelledby="heading-D">
                                <div class="card-body">
                                    <div class="tab_wrap login-tab">
                                        <h4 class="title">You can easily check the status of your application form by login into your account.
                                        </h4>
                                        <div class="form">
                                            <div id="divloginAppStatus" class="row">
                                                <div id="messageHolderApplication" class="col-lg-12"></div>
                                                <div class="row">
                                                    <div class="col-md-12 cust_left">
                                                        <div class="form-row">
                                                            <div class="form-group  mobp0 required">
                                                                <label for="txtLoginEmailApplication">Email Id</label>
                                                                <input type="text" class="form-control" id="txtLoginEmailApplication" name="txtLoginEmailApplication" placeholder="Enter Email Id" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 cust_left">
                                                        <div class="form-row">
                                                            <div class="form-group  mobp0 required">
                                                                <label for="txtLoginPasswordApplication">Password</label>
                                                                <input type="password" class="form-control" id="txtLoginPasswordApplication" name="txtLoginPasswordApplication" placeholder="Enter your password" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="form-group col-lg-12 btn-grup">
                                                    <button type="button" class="loginbtn" id="btnLoginApplication">Login</button>
                                                    <span class="forget">
                                                    <button data-toggle="modal" data-target="#myModal" id="btnRedirectForgotApplication">Forgot Password?</button>
                                                    </span>
                                                </div>
                                                <!--   <div class="registerlink mb50 col-lg-12">
                                                    <p>
                                                        If not Registered ?
                                                        <button type="button" id="grad1" onclick="RegisterNow();">Register Now</button>
                                                    </p>
                                                    </div>  -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--start up popup-->
    <div id="startup" class="sucesspopup modal fade" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>
                        <span class="text-red">Important Notice :</span> <b>You can apply to the following institutes through this admission portal:</b>
                    </p>
                    <ul>
                        <li>All Constituent Colleges / Institutes of <b>Somaiya Vidyavihar University</b></li>
                        <li>Institutes affiliated to the <b>University of Mumbai</b></li>

                        <li>Institutes affiliated to the Government : <b>National Council of Vocational Training (NCVT)</b></li>

                        <li>Institutes affiliated to the Maharastra University of Health Science (MUHS), Maharastra State Board of Nursing Education (MSBNE)</li>

                        <li>Institutes affiliated to the Maharashtra State Council of Education Reasearch and Training (MSCERT)</li>
 			<li>
                            Autonomous Institute having equivalence of Maharashtra State Board of Technical Education (MSBTE)
                        </li>
                        <li>
                            Institutes affiliated to the Maharashtra State Board Of Secondary & Higher Secondary Education
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--End start up popup end-->

    </div>


    <!-- JS Global Compulsory -->


    <!-- JS -->
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/popper.min.js?v=1.0.7843.24870" type="text/javascript"></script>   
    <script src="/assets/js/bootstrap4.min.js"></script>

    <script src="/assets/js/bootstrapValidator.js"></script>
    <script src="/assets/js/app.min.js"></script>

    <!-- Cookie Consent JS -->
    <script src="/assets/js/jquery-eu-cookie-law-popup.js"></script>
    <!-- JS -->
    <script src="/assets/js/app/app.js?v=1.0.7843.24870"></script>
    <script src="/assets/js/app/custom.js?v=1.0.7843.24870" type="text/javascript"></script>
    <script>
        var BASE = {"Settings":{"Version":"1.0.7843.24870","WebsiteURL":"https://admissions.somaiya.edu/","S3BucketsURL":"https://s3.ap-south-1.amazonaws.com/svu-pre-admission-prod","S3BucketName":"svu-pre-admission-prod","IsProduction":true}};

        $(function () {

            if ($(".eupopup").length > 0) {
                $(document).euCookieLawPopup().init({
                    'info': 'YOU_CAN_ADD_MORE_SETTINGS_HERE',
                    'popupTitle': 'This website is using cookies. ',
                    'popupText': 'We use them to give you the best experience. If you continue using our website, we\'ll assume that you are happy to receive all cookies on this website.'
                });
            }

            $('[data-toggle="tooltip"]').tooltip()
        })
        $("a.sidebar-toggle.extra").click(function () {
            $("aside.main-sidebar").toggleClass("hover");
        });
        $("a.sidebar-toggle.extra").click(function () {
            $("a.sidebar-toggle.extra").toggleClass("hovers");
        });
        $(".extra").click(function () {
            $(".extra").toggleClass("rotate");
        });

        var selector = '.new-tab .tab-content .tab-pane';

        $(selector).on('click', function () {
            $(selector).removeClass('active');
            $(this).addClass('active');
        });


        (function ($) {
            var $window = $(window),
                $html = $('#pane-B');

            $window.resize(function resize() {
                if ($window.width() < 768) {
                    return $html.removeClass('active show');
                }

                $html.addClass('active show');
            }).trigger('resize');
        })(jQuery);
        $(document).ready(function () {
            $('.main-sidebar.wizard').hover(
                function () { $('a.sidebar-toggle.extra.hovers').addClass('hover-aside') },
                function () { $('a.sidebar-toggle.extra.hovers').removeClass('hover-aside') }
            )
        });


    </script>

    
    <!--<script src="https://www.google.com/recaptcha/api.js?render=6LdH0LgUAAAAAOag98rEdCSg322RmxcvdaZBCoiB"></script>-->
    
    <script type="text/javascript">
        $(function () {

$('.reg_btns').click(function(){
   $("#regi_acco").click();
});

     	    $('#regi_btn').click(function () {
                $("#regi_acco").click();
            });

            $('#aLogin').click(function () {
                $("#log_acco").click();
            });
	    $("#startup").modal({ backdrop: 'static', keyboard: false });

            $('#txtLoginEmail').on('keypress', function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    $('#divlogin').data('bootstrapValidator').validate();
                    if ($('#divlogin').data('bootstrapValidator').isValid()) {
                        Login();
                    }
                }
            });

            $('#txtLoginPassword').on('keypress', function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);

                if (keycode == '13') {
                    $('#divlogin').data('bootstrapValidator').validate();
                    if ($('#divlogin').data('bootstrapValidator').isValid()) {
                        Login();
                    }
                }
            });

            VaildatePage();
            $('#btnSave').click(function (e) {
                $('#divregistration').data('bootstrapValidator').validate();
                if ($('#divregistration').data('bootstrapValidator').isValid()) {
	            e.preventDefault();
                    var element = document.getElementById('messageHolderRegistration');
                    element.scrollIntoView();
                    element.scrollIntoView(false);
                    element.scrollIntoView({ block: "end" });
                    element.scrollIntoView({ behaviour: "smooth", block: "end", inline: "nearest" });
                    CreateUser('');
                    /*
                    grecaptcha.ready(function () {
                    grecaptcha.execute('6LdH0LgUAAAAAOag98rEdCSg322RmxcvdaZBCoiB', { action: 'register' }).then(function (token) {
                    CreateUser(token);
                    });
                    });
                    */
                }
            });
            $("#btnLogin").click(function () {
                $('#divlogin').data('bootstrapValidator').validate();
                if ($('#divlogin').data('bootstrapValidator').isValid()) {
                    Login();
                }
            });
        
            $("#btnLoginAnother").click(function () {
                $('#divloginAnother').data('bootstrapValidator').validate();
                if ($('#divloginAnother').data('bootstrapValidator').isValid()) {
                    LoginAnother();
                }
            });
        
            $("#btnLoginApplication").click(function () {
                $('#divloginAppStatus').data('bootstrapValidator').validate();
                if ($('#divloginAppStatus').data('bootstrapValidator').isValid()) {
                    LoginAppStatus();
                }
            });
        
            //
            $('#btnForgotPassword').click(function () {
                $('#frmForgotPassword').data('bootstrapValidator').validate();
                if ($('#frmForgotPassword').data('bootstrapValidator').isValid()) {
                    ForgotPasswordClicked();
                }
            });
        });
        function CreateUser(token) {
        
        
            var userRegistration = {
                PRE_ADMN_LOGIN_ID: 0,
                PRE_ADMN_LOGIN_EMAIL: $('#txtEmail').val(),
                PRE_ADMN_LOGIN_PASSWORD: $('#txtConfirmPassword').val(),
                PRE_ADMN_LOGIN_ACTIVE: 'N',
                PRE_ADMN_LOGIN_FIRST_NAME: $('#txtFirstName').val(),
                PRE_ADMN_LOGIN_LAST_NAME: $('#txtLastName').val(),
                PRE_ADMN_LOGIN_MOBILE_NO: $('#txtMobile').val(),
                PRE_ADMN_LOGIN_COUNTRY_CD: 'IN'
            }
            var DTO =
            {
                'UserRegistration': userRegistration,
                'token': token
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: Config.Core.ResolveUrl("~/default.aspx/CreateUser"),
                data: JSON.stringify(DTO),
                dataType: "json",
                beforeSend: function () {
                    Config.Core.ShowResponsiveProcessMessage('messageHolderRegistration');
                },
                success: function (result) {
                    var data = JSON.parse(result.d);
                    console.log(data.Message);
                    if (data.AlertType == 'SUCCESS') {
                        //resetAllValues();
			$('#divregistration').bootstrapValidator('resetForm', true);
                        $('#registration_container').hide();
                        $('#login_container').show();
                        $('#forgot_container').hide();
                        $("#successregister").modal('show');
                        Config.Core.HideResponsiveMessage('messageHolderRegistration');
                        //Config.Core.ShowResponsiveMessage('messageHolderRegistration', 'Success', "User created successfully.  Please check your email account for more details.");
                    }
                    else if (data.AlertType == 'WARNING') {
                        //Config.Core.ShowResponsiveMessage('messageHolderRegistration', 'Error', 'Error occured while processing your request.');
                        Config.Core.ShowResponsiveMessage('messageHolderRegistration', 'alert', data.Message);
                    }
                    else if (data.AlertType == 'ERROR') {
                        Config.Core.ShowResponsiveMessage('messageHolderRegistration', 'Error', 'Error occured while processing your request.');
                    }
                    else {
                        Config.Core.ShowResponsiveMessage('messageHolderRegistration', 'Error', 'Error occured while processing your request.');
                    }
                },
                error: function (result) {
                    Config.Core.ShowResponsiveMessage('messageHolderRegistration', 'Error', 'Error occured while processing your request.');
                }
            });
        }
        function LoginAppStatus() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: Config.Core.ResolveUrl("~/default.aspx/Login"),
                data: JSON.stringify({ username: $("#txtLoginEmailApplication").val(), password: $("#txtLoginPasswordApplication").val() }),
                dataType: "json",
                beforeSend: function () {
                    Config.Core.ShowResponsiveProcessMessage('messageHolderApplication');
                },
                success: function (result) {
                    var data = JSON.parse(result.d);
                    if (data.AlertType === 'SUCCESS') {
        
        
                        if (data.FirstTime === "Y") {
                            location.href = '/online-form/program-selection';
                        } else {
                            location.href = '/online-form/form-filled';
                        }
        
                    }
                    else if (data.AlertType == 'WARNING') {
        
                        Config.Core.ShowResponsiveMessage('messageHolderApplication', 'alert', data.Message);
                    }
                    else {
                        Config.Core.ShowResponsiveMessage('messageHolderApplication', 'Error', 'Error occured while processing your request.');
                    }
                },
                error: function (result) {
                    Config.Core.ShowResponsiveMessage('messageHolderApplication', 'Error', 'Error occured while processing your request.');
                }
            });
        }
        
        function LoginAnother() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: Config.Core.ResolveUrl("~/default.aspx/Login"),
                data: JSON.stringify({ username: $("#txtLoginEmailAnother").val(), password: $("#txtLoginPasswordAnother").val() }),
                dataType: "json",
                beforeSend: function () {
                    Config.Core.ShowResponsiveProcessMessage('messageHolderAnother');
                },
                success: function (result) {
                    var data = JSON.parse(result.d);
                    if (data.AlertType === 'SUCCESS') {
        
                        location.href = '/online-form/program-selection';
                        Config.Core.HideResponsiveMessage('messageHolderAnother');
        
                    }
                    else if (data.AlertType == 'WARNING') {
                        Config.Core.ShowResponsiveMessage('messageHolderAnother', 'alert', data.Message);
                    }
                    else {
                        Config.Core.ShowResponsiveMessage('messageHolderAnother', 'Error', 'Error occured while processing your request.');
                    }
                },
                error: function (result) {
                    Config.Core.ShowResponsiveMessage('messageHolderAnother', 'Error', 'Error occured while processing your request.');
                }
            });
        }
        function Login() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: Config.Core.ResolveUrl("~/default.aspx/Login"),
                data: JSON.stringify({ username: $("#txtLoginEmail").val(), password: $("#txtLoginPassword").val() }),
                dataType: "json",
                beforeSend: function () {
                    Config.Core.ShowResponsiveProcessMessage('messageHolder');
                },
                success: function (result) {
                    var data = JSON.parse(result.d);
                    if (data.AlertType === 'SUCCESS') {
        
        
                        if (data.FirstTime === "Y") {
                            location.href = '/online-form/program-selection';
                        } else {
                            location.href = '/online-form/form-filled';
                        }
        
                        //Config.Core.ShowResponsiveMessage('messageHolder', 'Success', "User created successfully!!!!");
                    }
                    else if (data.AlertType === 'WARNING') {
                        //Config.Core.ShowResponsiveMessage('messageHolder', 'Error', 'Oops! Something went wrong!' );
                        Config.Core.ShowResponsiveMessage('messageHolder', 'alert', data.Message);
                    }
                    else {
                        Config.Core.ShowResponsiveMessage('messageHolder', 'Error', 'Oops! Something went wrong! ');
                    }
                },
                error: function (result) {
                    Config.Core.ShowResponsiveMessage('messageHolder', 'Error', 'Oops! Something went wrong! Help us improve your experience by sending an <a href="' + BaseURL + 'online-form/report-issue" target="_blank"> issue. </a>');
                }
            });
        }
        function ForgotPasswordClicked() {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: Config.Core.ResolveUrl("~/default.aspx/ForgotPassword"),
                data: JSON.stringify({ email: $("#txtPasswordEmail").val() }),
                dataType: "json",
                beforeSend: function () {
                    Config.Core.ShowResponsiveProcessMessage('messageHolderForgotPassword');
                },
                success: function (result) {
                    var data = JSON.parse(result.d);
                    if (data.AlertType == 'SUCCESS') {
                        resetAllValues();
                        Config.Core.ShowResponsiveMessage('messageHolderForgotPassword', 'Success', "The password is sent on your email, please check your inbox");
                    }
                    else if (data.AlertType == 'WARNING') {
                        Config.Core.ShowResponsiveMessage('messageHolderForgotPassword', 'alert', data.Message);ss;
                    }
                    else {
                        Config.Core.ShowResponsiveMessage('messageHolderForgotPassword', 'Error', 'Error occured while processing your request.');
                    }
                },
                error: function (result) {
                    Config.Core.ShowResponsiveMessage('messageHolderForgotPassword', 'Error', 'Error occured while processing your request.');
                }
            });
        }
        function RegisterNow() {
            Helper.chosenInit();
            Helper.fillDefaults(['.chosen-select'], false);
            // Helper.fillSelect('#ddlCategory', PageData.CategoryList, true);
            $('#registration_container').show();
            $('#login_container').hide();
            $('#forgot_container').hide();
        }
        function existingUser() {
            $('#registration_container').hide();
            $('#login_container').show();
            $('#forgot_container').hide();
        }
        function resetAllValues() {
            $('.loginform').find('input').val('');
        }
        function VaildatePage() {
            $('#divregistration').bootstrapValidator({
                fields: {
                  
                    txtFirstName: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                        regexp: {
                            regexp: /^[a-zA-Z']+$/,
                            message: 'The name can only consist of alphabetical'
                        }
                        }
                    },
                    txtLastName: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            regexp: {
                              regexp: /^[a-zA-Z']+$/,
                              message: 'The name can only consist of alphabetical'
                           }
                        }
                    },
                    txtMobile: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            numeric: {
                                message: 'Not a valid mobile no'
                            },
                            stringLength: {
                                max: 10,
                                min: 10,
                                message: 'Mobile no must be 10 digit '
                            }
                        }
                    },
                    txtEmail: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'The value is not a valid email address'
                            }
                        }
                    },
                    txtPassword: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter password'
                            },
                            stringLength: {
                                max: 15,
                                min: 8,
                                message: 'Length of the password should be between 8-15 characters.'
                            }
                        }
                    },
                    txtConfirmPassword: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter confirm password'
                            },
                            identical: {
                                field: 'txtPassword',
                                message: 'Passwords don’t match'
                            },
                     	    stringLength: {
                                max: 15,
                                min: 8,
                                message: 'Length of the password should be between 8-15 characters.'
                            }
                        }
                    }
                }
            });
            $('#divlogin').bootstrapValidator({
                fields: {
                    txtLoginEmail: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'The value is not a valid email address'
                            }
                        }
                    },
                    txtLoginPassword: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter password'
                            }
                        }
                    }
                }
            });
        
            $('#divloginAppStatus').bootstrapValidator({
                fields: {
                    txtLoginEmailApplication: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'The value is not a valid email address'
                            }
                        }
                    },
                    txtLoginPasswordApplication: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter password'
                            }
                        }
                    }
                }
            });
        
        
        
            $('#divloginAnother').bootstrapValidator({
                fields: {
                    txtLoginEmailAnother: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'The value is not a valid email address'
                            }
                        }
                    },
                    txtLoginPasswordAnother: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter password'
                            }
                        }
                    }
                }
            });
        
        
        
        
            $('#frmForgotPassword').bootstrapValidator({
                fields: {
                    txtPasswordEmail: {
                        validators: {
                            notEmpty: {
                                message: 'This field is required'
                            },
                            emailAddress: {
                                message: 'The value is not a valid email address'
                            }
                        }
                    }
                }
            });
        }
        
        $.fn.responsiveTabs = function () {
            this.addClass("responsives-tab"), this.append($('<span class="glyphicon glyphicon-triangle-bottom"></span>')), this.append($('<span class="glyphicon glyphicon-triangle-top"></span>')), this.on("click", "li.active, span.glyphicon", function () {
                this.toggleClass("open")
            }.bind(this)), this.on("click", "li:not(.active)", function () {
                this.removeClass("open")
            }.bind(this))
        };
        
        $(".custom_tab").responsiveTabs();
        
        $.fn.responsiveTabs = function () {
            this.addClass("responsives-tabs"), this.append($('<span class="glyphicon glyphicon-triangle-bottom"></span>')), this.append($('<span class="glyphicon glyphicon-triangle-top"></span>')), this.on("click", "li.active, span.glyphicon", function () {
                this.toggleClass("open")
            }.bind(this)), this.on("click", "li:not(.active)", function () {
                this.removeClass("open")
            }.bind(this))
        };
        
        $(".custom_tabs").responsiveTabs();
        
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
</body>
</html>
